# Development
.env
.venv/
venv/

# Dependencies
node_modules/

# Build outputs
build/
dist/
staticfiles/

# Database
*.sqlite3
db.sqlite3

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Docker
.dockerignore
